<!-- Texts: Explanation -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-4 mb-4 text-center">
      <img src="/assets/img/iphone-1080x1920.png" class="mb-2 mt-2 img-fluid shadow-sm shadow shadow-lg" alt="phone">
    </div>
    <div class="col-8 col-lg-4 col-md-6 col-sm-12 mb-4 align-self-center text-center omw-font-light">
      카카오톡으로&nbsp;<b class="omw-font-bold">간편</b>하게<br>로그인/자동로그인합니다.<br><br>비상연락처를<br>추가/삭제할&nbsp;수&nbsp;있습니다.
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
      <img src="/assets/img/iphone-1080x1920.png" class="mb-2 mt-2 img-fluid shadow-sm shadow shadow-lg" alt="phone">
    </div>
    <div class="col-8 col-lg-4 col-md-6 col-sm-12 mb-4 align-self-center text-center omw-font-light">
      세션을&nbsp;<b class="omw-font-bold">시작</b>합니다.<br><br>세션은&nbsp;동시에&nbsp;5개까지<br>생성할&nbsp;수&nbsp;있습니다.
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
      <img src="/assets/img/iphone-1080x1920.png" class="mb-2 mt-2 img-fluid shadow-sm shadow shadow-lg" alt="phone">
    </div>
    <div class="col-8 col-lg-4 col-md-6 col-sm-12 mb-4 align-self-center text-center omw-font-light">
      <b class="omw-font-bold">도착&nbsp;예정시간</b>을<br>타이머로&nbsp;설정해주세요.<br><br>선택적으로,<br>공유하고&nbsp;싶은&nbsp;세부사항을<br>기입할&nbsp;수&nbsp;있습니다.
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
      <img src="/assets/img/iphone-1080x1920.png" class="mb-2 mt-2 img-fluid shadow-sm shadow shadow-lg" alt="phone">
    </div>
    <div class="col-8 col-lg-4 col-md-6 col-sm-12 mb-4 align-self-center text-center omw-font-light">
      세션을&nbsp;<b class="omw-font-bold">공유</b>하고&nbsp;싶은<br>사람들에게&nbsp;전송해보세요!<br><br>생성된&nbsp;세션은&nbsp;종료전까지<br>얼마든지<br>공유/수정/삭제&nbsp;가능합니다.
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
      <img src="/assets/img/iphone-1080x1920.png" class="mb-2 mt-2 img-fluid shadow-sm shadow shadow-lg" alt="phone">
    </div>
    <div class="col-8 col-lg-4 col-md-6 col-sm-12 mb-4 align-self-center text-center omw-font-light">
      도착예정시간이&nbsp;경과하면<br><b class="omw-font-bold">사용자에게</b>&nbsp;알림이&nbsp;도착합니다.
      <br><br>도착했지만<br>알림을&nbsp;잊었다면<br>전송하고&nbsp;마쳐주세요!
      <br><br>예정보다&nbsp;늦어지고&nbsp;있다면<br>&nbsp;세션을&nbsp;수정해보세요!
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
      <img src="/assets/img/iphone-1080x1920.png" class="mb-2 mt-2 img-fluid shadow-sm shadow shadow-lg" alt="phone">
    </div>
    <div class="col-8 col-lg-4 col-md-6 col-sm-12 mb-4 align-self-center text-center omw-font-light">
      도착예정시간&nbsp;경과&nbsp;후<br>알림을&nbsp;전송하지&nbsp;않으면,<br><b class="omw-font-bold">10분&nbsp;간격</b>으로&nbsp;친구들에게<br>아직&nbsp;도착하지&nbsp;못했다는&nbsp;알림을<br>자동으로&nbsp;전송해드립니다.
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
      <img src="/assets/img/iphone-1080x1920.png" class="mb-2 mt-2 img-fluid shadow-sm shadow shadow-lg" alt="phone">
    </div>
    <div class="col-8 col-lg-4 col-md-6 col-sm-12 mb-4 align-self-center text-center omw-font-light">
      도착예정시간&nbsp;경과&nbsp;후<br><b class="omw-font-bold">30분</b>이&nbsp;지나면<br>비상연락처에게도<br>알림전송을&nbsp;시작합니다.
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
      <img src="/assets/img/iphone-1080x1920.png" class="mb-2 mt-2 img-fluid shadow-sm shadow shadow-lg" alt="phone">
    </div>
    <div class="col-8 col-lg-4 col-md-6 col-sm-12 mb-4 align-self-center text-center omw-font-light">
      도착예정시간&nbsp;경과&nbsp;후<br><b class="omw-font-bold">1시간</b>이&nbsp;지나면<br>마지막으로<br>위험알림을&nbsp;전송하고<br>세션이&nbsp;종료됩니다.
    </div>
  </div>
</div>
