<%- include("partials/header") -%>


<!-- Title -->
<div class="container col-8 col-lg-3 col-md-6 col-sm-6 mt-3 mb-3 mx-auto">
  <a href="/" role="button"><img src="assets/img/logo/logo-1024x512.png" class="img-fluid" alt="가는중!"></a>
</div>

<!-- Buttons -->
<div class="container col-6 col-lg-2 col-md-3 col-sm-4 mb-3 mx-auto">
  <a href="<%= kakao_login_url %>" role="button" class="d-flex justify-content-center"><img src="assets/img/kakao/kakao_login_large_narrow.png" class="shadow-sm shadow shadow-lg" alt="카카오로그인" width="200px"></a>
</div>
<div class="container col-6 col-lg-2 col-md-3 col-sm-4 mb-3 mx-auto text-center">
  <a href="javascript:;" class="btn omw-bg-color-darkblue omw-font-light-white create-kakao-link-btn">
    <img src="/assets/img/favicon/favicon-circle-512x512.png" alt="가는중!" width="48" height="48"><br>
    친구초대하기
  </a>
</div>


<!-- Texts: Introduction -->
<div class="container">
  <div class="col-8 col-lg-3 col-md-6 col-sm-6 mb-3 mx-auto text-center omw-font-bold-color fs-5">
    어디론가&nbsp;출발하시나요?
  </div>
  <div class="col-8 col-lg-3 col-md-6 col-sm-6 mb-3 mx-auto text-center">
    <img src="assets/img/intro_img-1024x1024.png" alt="intro_img" width="200px">
  </div>
  <div class="col-8 col-lg-3 col-md-6 col-sm-6 mb-3 mx-auto text-center omw-font-light">
    이러한&nbsp;메시지&nbsp;대신<br><b class="omw-font-bold">가는중!</b>을&nbsp;사용해보세요!<br>안전한&nbsp;생활습관,<br><b class="omw-font-bold">가는중!</b>입니다.
  </div>
</div>

<%- include("partials/omw-info.ejs") -%>


<%- include("partials/footer") -%>
