<%- include("partials/header") -%>

<!-- Title -->
<div class="container col-4 col-lg-2 col-md-3 col-sm-3 mt-3 mb-3 mx-auto">
  <a href="/" role="button"><img src="/assets/img/logo/logo-1024x512.png" class="img-fluid" alt="가는중!"></a>
</div>
<div class="container col-8 col-lg-3 col-md-6 col-sm-6 mt-3 mb-3 p-3 mx-auto omw-bg-color-faintyellow rounded">
  <div class="container ">
    <img src="/assets/img/favicon/favicon-circle-512x512.png" class="rounded-circle mt-1 mb-1 me-3" alt="가는중!" width="60" height="60">
    <b class="omw-font-bold fs-2 align-middle">여주은</b>
  </div>
  <div class="container text-end">
    <b class="omw-font-light fs-5">##책임</b>
  </div>
  <div class="container text-end">
    <a href="mailto:tech.jueunyeo@gmail.com" class="omw-font-light">tech.jueunyeo@gmail.com</a>
  </div>
</div>
<div class="container col-8 col-lg-3 col-md-6 col-sm-6 mt-3 mb-3 p-3 mx-auto omw-bg-color-faintyellow rounded">
  <div class="container ">
    <img src="/assets/img/favicon/favicon-circle-512x512.png" class="rounded-circle mt-1 mb-1 me-3" alt="가는중!" width="60" height="60">
    <b class="omw-font-bold fs-2 align-middle">김채은</b>
  </div>
  <div class="container text-end">
    <b class="omw-font-light fs-5">##책임</b>
  </div>
  <div class="container text-end">
    <a href="mailto:dudgus0704@naver.com" class="omw-font-light">dudgus0704@naver.com</a>
  </div>
</div>

<%- include("partials/footer") -%>
