<%- include("partials/header") -%>
<!-- Title -->
<div class="container col-4 col-lg-2 col-md-3 col-sm-3 mt-3 mb-3 mx-auto">
  <a href="/" role="button"><img src="/assets/img/logo/logo-1024x512.png" class="img-fluid" alt="가는중!"></a>
</div>
<div class="container mt-3 mb-3 mx-auto text-center omw-font-bold-color fs-1">
  도착완료/종료/삭제된<br>세션입니다
</div>
<%- include("partials/footer") -%>
