html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.body-wrapper {
    min-height: 100%;
    position: relative;
}
.kakao-bg-color{
  background-color: #FEE500
}
.naver-bg-color{
  background-color: #2DB400
}
.omw-bg-color-green {
  background-color: #2c9199
}
.omw-bg-color-darkblue {
  background-color: #1c2a4f
}
.omw-bg-color-faintyellow {
  background-color: #ffcb6b;
}
.omw-bg-color-red {
  background-color: #eb4647;
}
.omw-bg-color-yellow {
  background-color: #fcb735;
}
.omw-font-bold {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 700;
}
.omw-font-bold-color {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 700;
  color: #1c2a4f;
}
.omw-font-bold-white{
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.omw-font-light {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 300;
}
.omw-font-light-color {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 300;
  color: #1c2a4f;
}
.omw-font-light-white{
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 300;
  color: #ffffff;
}
.omw-footer{
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
}
.omw-pattern {
  background-color: #fcb735;
  opacity: 1.0;
  background: repeating-linear-gradient(-45deg, #fcb735, #fcb735 16px, #1c2a4f 16px, #1c2a4f 32px);
}
